body {
  font-family: 'Arial', sans-serif;
  background-color: #333333;
  margin: 0;
  padding: 0;
  color: #ecf0f1; /* Tekstfarve for at matche overskrifterne */
}

table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #555555;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #444444;
}

tr:hover {
  background-color: #666666;
}

/* Tilføjelse af stil til portrætbilleder */
img {
  max-width: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}